In [1]:
from generate_amitt_ttps import Amitt
amitt = Amitt()
amitt.generate_and_write_datafiles()

updated ../phase_index.md
updated ../tactic_index.md
updated ../technique_index.md
updated ../task_index.md
updated ../incident_index.md
updated ../counter_index.md
updated ../responsetype_index.md
updated ../metatechniques_index.md
updated ../actors_index.md
updated ../detections_index.md
updated ../amitt_red_framework.md
updated ../amitt_blue_framework.md
updated ../amitt_red_framework_clickable.html
Writing ../counter_tactics/TA01counters.md
Writing ../counter_tactics/TA02counters.md
Writing ../counter_tactics/TA03counters.md
Writing ../counter_tactics/TA04counters.md
Writing ../counter_tactics/TA05counters.md
Writing ../counter_tactics/TA06counters.md
Writing ../counter_tactics/TA07counters.md
Writing ../counter_tactics/TA08counters.md
Writing ../counter_tactics/TA09counters.md
Writing ../counter_tactics/TA10counters.md
Writing ../counter_tactics/TA11counters.md
Writing ../counter_tactics/TA12counters.md
updated ../tactics_by_responsetype_table.md
Writing ../metatechniques/cleaningcounters.md
Writing ../metatechniques/countermessagingcounters.md
Writing ../metatechniques/data pollutioncounters.md
Writing ../metatechniques/daylightcounters.md
Writing ../metatechniques/dilutioncounters.md
Writing ../metatechniques/diversioncounters.md
Writing ../metatechniques/frictioncounters.md
Writing ../metatechniques/metatechniquecounters.md
Writing ../metatechniques/reduce resourcescounters.md
Writing ../metatechniques/removalcounters.md
Writing ../metatechniques/resiliencecounters.md
Writing ../metatechniques/scoringcounters.md
Writing ../metatechniques/targetingcounters.md
Writing ../metatechniques/verificationcounters.md
updated ../metatechniques_by_responsetype_table.md
Writing ../resources_needed/counters.md
Writing ../resources_needed/DHScounters.md
Writing ../resources_needed/NGOcounters.md
Writing ../resources_needed/activistscounters.md
Writing ../resources_needed/adtechcounters.md
Writing ../resources_needed/civil_societycounters.md
Writing ../resources_needed/community_groupscounters.md
Writing ../resources_needed/companiescounters.md
Writing ../resources_needed/content_creatorscounters.md
Writing ../resources_needed/data_scientistcounters.md
Writing ../resources_needed/datastreamscounters.md
Writing ../resources_needed/developerscounters.md
Writing ../resources_needed/educatorscounters.md
Writing ../resources_needed/elvescounters.md
Writing ../resources_needed/factcheckerscounters.md
Writing ../resources_needed/fundingcounters.md
Writing ../resources_needed/gamesdesignerscounters.md
Writing ../resources_needed/governmentcounters.md
Writing ../resources_needed/government:policymakerscounters.md
Writing ../resources_needed/influencerscounters.md
Writing ../resources_needed/influencers:trusted_authoritycounters.md
Writing ../resources_needed/infoseccounters.md
Writing ../resources_needed/librariescounters.md
Writing ../resources_needed/mediacounters.md
Writing ../resources_needed/militarycounters.md
Writing ../resources_needed/moneycounters.md
Writing ../resources_needed/platform_admincounters.md
Writing ../resources_needed/platform_admin:adtechcounters.md
Writing ../resources_needed/platform_admin:fundingsitescounters.md
Writing ../resources_needed/platform_admin:socialmediacounters.md
Writing ../resources_needed/platform_algorithmscounters.md
Writing ../resources_needed/platform_outreachcounters.md
Writing ../resources_needed/platformscounters.md
Writing ../resources_needed/publiccounters.md
Writing ../resources_needed/public:account_ownerscounters.md
Writing ../resources_needed/religious_organisationscounters.md
Writing ../resources_needed/schoolscounters.md
Writing ../resources_needed/server_admincounters.md
updated ../resources_by_responsetype_table.md

In [ ]:
# Check which amitt variables we can see from here
print('{}'.format(vars(amitt).keys()))
vars(amitt)['tactics']

# TEST AREA

In [3]:
amitt.cross_counterid_techniqueid

         id technique_id
0    C00001
1    C00003
2    C00004
3    C00005
4    C00006
..      ...          ...
182  C00145        T0046
183  C00147        T0060
184  C00148
185  C00149         TA12
185  C00149        T0020

[367 rows x 2 columns]

In [4]:
def splitcol(df, col, newcol, divider=','):
    # Thanks https://stackoverflow.com/questions/17116814/pandas-how-do-i-split-text-in-a-column-into-multiple-rows?noredirect=1
    return (df.join(df[col]
                    .str.split(divider, expand=True).stack()
                    .reset_index(drop=True,level=1)
                    .rename(newcol)).drop(col, axis=1))

In [5]:
# Create counters cross-tables
cross_counterid_techniqueid = splitcol(amitt.df_counters[['id', 'techniques']], 
                                                 'techniques', 'technique', '\n')
cross_counterid_techniqueid = cross_counterid_techniqueid[cross_counterid_techniqueid['technique'].notnull()]
cross_counterid_techniqueid['technique_id'] = cross_counterid_techniqueid['technique'].str.split(' ').str[0]
cross_counterid_techniqueid.drop('technique', axis=1, inplace=True)

cross_counterid_resource = splitcol(amitt.df_counters[['id', 'resources_needed']], 
                                                'resources_needed', 'resource', ',')
cross_counterid_resource = cross_counterid_resource[cross_counterid_resource['resource'].notnull()]

cross_counterid_resource

         id                    resource
0    C00001
1    C00003
2    C00004
3    C00005
4    C00006  platform_admin:socialmedia
..      ...                         ...
181  C00144
182  C00145
183  C00147         platform_algorithms
184  C00148         platform_algorithms
185  C00149

[218 rows x 2 columns]

In [12]:
cross_counterid_resource['resource'].value_counts()

                                 117
educators                         11
platform_admin                    11
media                             10
platform_algorithms                8
government:policymakers            8
government                         7
platform_admin:socialmedia         5
public                             4
influencers                        3
activists                          2
infosec                            2
money                              2
developers                         2
data_scientist                     2
factcheckers                       2
civil_society                      1
DHS                                1
gamesdesigners                     1
server_admin                       1
military                           1
public:account_owners              1
platform_admin:fundingsites        1
platforms                          1
adtech                             1
datastreams                        1
NGO                                1
content_creators                   1
community_groups                   1
religious_organisations            1
platform_admin:adtech              1
companies                          1
elves                              1
funding                            1
influencers:trusted_authority      1
libraries                          1
platform_outreach                  1
schools                            1
Name: resource, dtype: int64